@charset "gb2312";
/* CSS Document */



/*最外部*/
#wraper{ width:100%; height:100%; float:left; position:relative}





/*banner区域*/
#banner{ width:100% ;height:350px; float:left;/* margin:0px auto;*/ /*background:url(//mat1.gtimg.com/edu/scampus/index/banner01.jpg) no-repeat center center;*/position:relative;}
#banner .banbox{width:100%; height:350px; margin:0px auto;}
#banner .banbox img{width:100%;height:350px;}
#banner .banbox .banlist{width:100%; height:20px; text-align:center; /*margin:315px auto 0px auto; */background:url(http://mat1.gtimg.com/edu/scampus/index/ban-xk-bj.png) no-repeat center center;position:absolute;bottom:22px;left:22px;}
#banner .banbox .banlist a{ width:10px; height:10px; margin:5px 3px; background:url(http://mat1.gtimg.com/edu/scampus/index/ban-xk-q.png) no-repeat center center; display:inline-block; cursor:pointer}
#banner .banbox .banlist a:hover,#banner .banbox .banlist .active{ background:url(http://mat1.gtimg.com/edu/scampus/index/ban-xk-sd.png) no-repeat center center}






/*消息提示区域*/
#xxtsq{ width:100%; height:40px; float:left; margin:0px auto; background:#f7f7f7;}
#xxtsq .xxbox{width:1200px; height:40px; margin:0px auto;}
#xxtsq .xxbox ul{width:1145px; height:14px; float:left; margin-top:13px;}
#xxtsq .xxbox li{height:14px; float:left; font-size:14px; color:#e7e7e7; line-height:14px; margin-right:20px;}
#xxtsq .xxbox li a{color:#666;}
#xxtsq .xxbox .gd a{width:55px; height:14px; float:left; margin-top:13px; font-size:14px; color:#999; line-height:14px; text-decoration:none;}
#xxtsq .xxbox .gd span{ margin-right:5px;display:block;margin-top:-1px;}
#xxtsq .xxbox .gd .imggd{display:block;margin-top:-28px;margin-right:-39px;float:right;}

#xxtsq .xxbox .gd a:hover{color:#4bb862; text-decoration:none;}






/*智慧校园*/
#zhxy{width:100%; height:550px; float:left; margin:0px auto;}
#zhxy .zhxybox{width:1200px; height:550px; margin:0px auto;}
#zhxy .zhxybox .zhxy-bt{width:770px; height:110px; float:left; margin:75px 215px 0px 215px;}
#zhxy .zhxybox ul{width:1200px; height:260px; float:left; margin-top:35px;}
#zhxy .zhxybox li{width:260px; height:260px; float:left; margin-left:20px; margin-right:20px;}





/*智慧消息*/
#zhmage{width:100%; height:100%; float:left; margin:0px auto; ) no-repeat center center;}





/*智慧学习*/
#zhstudy{width:100%; height:100%; float:left; margin:0px auto; ) no-repeat center center;}





/*智慧生活*/
#zhsh{width:100%; height:100%; float:left; margin:0px auto; ) no-repeat center center; }






/*智慧办公*/
#zhbg{width:100%; height:100%; float:left; margin:0px auto; ) no-repeat center center; }










/*排行新闻*/
#phxw{width:100%; height:auto; float:left; margin:0px auto;}
#phxw .phxwbox{width:1200px; height:auto; margin:0px auto;}
/*排行*/
#phxw .phxwbox .phbox{width:570px; height:525px; float:left; margin-right:30px; margin-top:60px;}
#phxw .phxwbox .phbox h2 a{width:570px; height:30px; float:left; font-size:30px; line-height:30px; text-align:center; color:#444; text-decoration:none;}
#phxw .phxwbox .phbox .listbox{width:570px; height:474px; float:left; margin-top:20px; background:#f8f8f8; border-top:solid 1px #1eb97b;}
#phxw .phxwbox .phbox .listbox ul{width:570px; height:auto; float:left; margin-top:40px;}
#phxw .phxwbox .phbox .listbox li{width:570px; height:16px; float:left; margin-bottom:27px;}
#phxw .phxwbox .phbox .listbox li .wz-l{width:170px; height:16px; float:left; font-size:16px; color:#444; line-height:16px; text-align:right; margin-right:20px;}
#phxw .phxwbox .phbox .listbox li .sjx{width:320px; height:16px; float:left; background:#1eb97b; margin-right:10px;}
#phxw .phxwbox .phbox .listbox li .wz-r{width:50px; height:16px; float:left; font-size:12px; color:#666; line-height:16px; text-align:left;}
/*高校热门新闻*/
#phxw .phxwbox .rmxw{width:570px; height:525px; float:left; margin-left:30px; margin-top:60px;}
#phxw .phxwbox .rmxw h2 a{width:570px; height:30px; float:left; font-size:30px; line-height:30px; text-align:center; color:#444; text-decoration:none;}
#phxw .phxwbox .rmxw .xwbox{width:570px; height:474px; float:left; margin-top:20px; background:#f8f8f8; border-top:solid 1px #1eb97b;}
#phxw .phxwbox .rmxw .xwbox .xwlist{width:530px; height:auto; float:left; margin-top:40px; margin-left:40px;}
#phxw .phxwbox .rmxw .xwbox .xwlist .xw01 a{width:530px; height:16px; float:left; margin-bottom:27px; font-size:16px; line-height:16px; color:#444;}
#phxw .phxwbox .rmxw .xwbox .xwlist .xw01 span{width:6px; height:6px; float:left; margin:5px 15px 5px 0px;}





/*高校入住腾讯智慧校园*/
#rztx{width:100%; height:auto; float:left; margin:0px auto;}
#rztx .rztxbox{width:1200px; height:auto; margin:0px auto;}
#rztx .rztxbox .rzbt{width:1200px; height:46px; margin-top:70px; float:left;}
#rztx .rztxbox .rzbt p{font-size:48px;font-family:"微软雅黑";text-align:center;color:#444444;}

#rztx .rztxbox .xxlist{width:1200px; height:auto; margin-top:50px; float:left; overflow:hidden;}
#rztx .rztxbox .xxlist ul{width:1230px; height:auto; float:left;}
#rztx .rztxbox .xxlist li{width:173px; height:58px; float:left; border:solid 1px #e8e8e8; margin-right:30px; margin-bottom:30px;}


/*合作伙伴*/
#hzhb{width:100%; height:auto; float:left; margin:0px auto;}
#hzhb .hzhbbox{width:1200px; height:auto; margin:0px auto;}
#hzhb .hzhbbox .hzbt{width:1200px; height:46px; margin-top:50px; float:left;}
#hzhb .hzhbbox .hzbt p{font-size:36px;font-family:"微软雅黑"; text-align:center;color:#444444;}

#hzhb .hzhbbox .xxlist{width:1200px; height:auto; margin-top:30px; float:left; overflow:hidden;}
#hzhb .hzhbbox .xxlist ul{width:1230px; height:auto; float:left;}
#hzhb .hzhbbox .xxlist li{width:173px; height:58px; float:left; border:solid 1px #e8e8e8; margin-right:30px; margin-bottom:30px;}





/*高校入住腾讯智慧校园*/
#footer{width:100%; height:350px; float:left; margin:30px auto 0px auto; background:#f2f2f2;}
#footer .footbox {width:1200px; height:auto; margin:0px auto;}
#footer .footbox .hzlx{width:1200px; height:46px; margin-top:40px;margin-bottom: 20px; float:left;}
#footer .footbox .hzlx p{font-size:36px;font-family:"微软雅黑"; text-align:center;color:#444444;}
#footer .footbox ul{width:1200px; height:auto; margin-top:30px; float:left}
#footer .footbox li{height:18px; float:left; margin-left:20px; margin-right:20px; font-size:17px; line-height:18px; color:#444;}
#footer .footbox .smbox{width:1200px; height:80px; margin-top:30px; float:left; margin-top:50px; margin-bottom:100px;}
#footer .footbox .hz{width:1200px; height:auto; text-align:center;}
#footer .footbox .hz span{height:18px; margin-left:20px; margin-right:20px; font-size:17px; line-height:18px; color:#444;}









/*  |xGv00|c2a48078bf6237df6be6d250a44fdf3b */