@charset "gb2312";
/* CSS Document */
/*椤堕??*/
#header{ width:100%; height:113px; float:left; }
#header .hbox{ width:1200px; height:53px; margin:27px auto 0px auto}
/*宸?渚?logo*/
#header .hbox .hblogo{ width:280px; height:53px; float:left; margin-right:80px}

/*瀵艰????*/
#header .hbox .hbnav{ width:660px; height:35px; float:left; margin-top:10px}
#header .hbox .hbnav ul{width:660px; height:35px; float:left;}
#header .hbox .hbnav li{ width:100px; height:35px; font-size:18px; line-height:35px; float:right; color:#444444; margin-left:10px; text-align:center}
#header .hbox .hbnav li a{color:#444444; text-decoration:none; }
#header .hbox .hbnav li:hover{color:#FFF; background:#1eb97b}
#header .hbox .hbnav li:hover a{color:#FFF; text-decoration:none}
/*?婚??*/
#header .hbox .hbdl{ width:90px; height:31px; float:right; margin-top:7px; font-size:16px; color:#444444;text-align:center;background:url(http://mat1.gtimg.com/edu/scampus/index/img_dl.png) no-repeat center center; padding-top:7px}
#header .hbox .hbdl:hover{color:#ffffff;background:url(http://mat1.gtimg.com/edu/scampus/index/img_dl_hover.png) no-repeat center center;}
#header .hbox .hbdl:hover a{ color:#ffffff; text-decoration:none}
#header .hbox .hbdl a{ color:#444444}
/*  |xGv00|05837f3ddd4bdbbb68bee28019a26b98 */